
body{
	background:#f7d794
}
.mytr{
	background:pink
}

.btn{
	background:red;
	margin-left: 200px;
}

.mytitle {
	margin-left: 600px;
}
.myDiv{
	border: 1px solid black;
	background-color: #00aabb;
	width:500px;
	margin-left: 450px;
}