<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js" ></script>
    <script src="/js/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
      <div class="container"> <h1>  <center> Welcome</center> </h1>  </div>
      <div class="jumbotron">  <p class="h1"> Serving index page </p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus molestiae natus neque pariatur incidunt ut odio voluptatibus itaque voluptas, suscipit dolorem fuga architecto tempora corporis a officia dolorum exercitationem non?</p>
      </div>
</body>
</html>